@import url(/Sass/cssreload.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

$font-open: 'Open Sans';
$font-poppin: 'Poppins';

$Pink: hsl(322, 100%, 66%);
$VeryPaleCyan: hsl(193, 100%, 96%);
$VeryDarkCyan: hsl(192, 100%, 9%);
$GrayishBlue: hsl(208, 11%, 55%);

/* version mobile 375px */
h1{
    font-size: 1.5em;
    color: $VeryDarkCyan;
}

p{
    color: $VeryDarkCyan;
    font-family: $font-open;
    line-height: 1.5;
    font-size: 1em;
    
}
body{
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-family: $font-open;
    



    header{
        background: url(/images/bg-hero-mobile.svg) no-repeat  $VeryPaleCyan;
        max-width: 375px;
        width: 100%;
        padding: 20px;
        padding-top: 40px;
        nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
                img{
                    width: 80px;
                }
                
                button{ 
                    width: 80px;
                    height: 30px;
                    border-radius: 30px;
                    background-color: #ffff;
                    border: none;
                    box-shadow: 1px 1px 10px $GrayishBlue;
                    p{
                        text-align: center;
                        font-weight: 700;
                        font-size: 10px;
                        font-family: $font-poppin;

                    }
                
                
            }
        }
        .encabezado{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 100vw;

            h1{
                margin: 20px;
                width: 260px;
                line-height: 1.5;
                text-align: center;
            }
            p{
                text-align: center;
                width: 275px;
                margin-bottom: 30px;
                }
            .get-start{
                width: 200px;
                height: 60px;
                border-radius: 30px;
                background-color: $Pink;
                border: none;
                box-shadow: 1px 2px 10px $GrayishBlue;
                font-family: $font-open;
                font-weight: 600;
                color: #fff;
            } 

            img{
                margin: 40px 0;
                width: 275px;
            }
    }
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            
            width: 345px;
            margin-top: 30px;
            border-radius: 20px;
            box-shadow: 0 0 10px 2px #f7f7f7 ; 
            gap: 20px;
            img{
                margin-top: 50px;
                width: 275px;
                
            }
            p{
                color: $GrayishBlue;
            }

        }
        .card-1{
            p{
                padding: 0 20px 20px 20px;
            }
        }
        .card-2{
            p{
                padding: 0 22px 20px 22px;
            }
        }
        .card-3{
            p{
                padding: 0 35px 10px 35px;
            }
        }
    }

    .ready{
        
        position: relative;
        top: 120px;
        margin: 60px 0; 
        .card-ready{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 1px 2px #f7f7f7;
        width: 345px;
        padding: 20px;
        text-align: center;
        position: relative;
        top: 0;
        
        
        h3{
            font-size: 1em;
            margin: 30px 0;
            font-weight: 600;
        }
        .get-start{
                width: 200px;
                height: 40px;
                border-radius: 30px;
                background-color: $Pink;
                border: none;
                box-shadow: 1px 2px 10px $GrayishBlue;
                font-family: $font-open;
                font-weight: 600;
                color: #fff;
                font-size: 0.7em;
                margin-bottom: 30px;

        }
    }}

footer{
        background-color: $VeryDarkCyan;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100vw;
        padding: 20px;
        
        
        .container-footer{
    
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 20px;
            

        .logo-footer{
            img{
                width: 120px;
                margin-bottom: 20px;
                } }
        .contacto{
            gap: 30px;
            .location{
                display: flex;
                gap: 20px;
                img{
                    width: 20px;
                    height: 20px;
                    margin: 20px 0;
                }

                p{  color: #fff;
                    font-family: $font-open;
                    font-size: 0.7em;
                    margin: 20px 0;
                }
            }
        }
        .about{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 20px 0;
            
            a{
                text-decoration: none;
                color: #fff;
            }
        }

        .redes{
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            gap: 10px;
            align-items: center;
            margin: 10px 0;
            i{
                color: #fff;
                padding: 12px;
                border-radius: 50%;
                border: 1px solid #fff ;
            }
        }
        .copy{
            color: #fff;
            text-align: center;
            font-size: 0.7em;
            width: 100%;
            margin: 20px 0;
        }

        
    }
    }


    .attribution { 
        font-size: 0.6em; 
        text-align: center; 
        margin: 30px 0;
        a { color: hsl(228, 45%, 44%); }}



}